<form [formGroup]="form">
  <div class="checkbox-container">
    <cct-single-checkbox
      label="Who's awesome?"
      formControlName="single"
    ></cct-single-checkbox>
  </div>

  <div class="checkbox-container">
    <cct-checkbox-tree
      [options]="options"
      label="Double State Checkbox Tree"
      formControlName="doubleState"
      behavior="2-state"
    ></cct-checkbox-tree>
  </div>

  <div class="checkbox-container">
    <cct-checkbox-tree
      [options]="options"
      label="Triple State Checkbox Tree"
      formControlName="tripleState"
      behavior="3-state"
    ></cct-checkbox-tree>
  </div>

  <div class="checkbox-container">
    <cct-checkbox-tree
      [options]="options"
      label="Mixed State Checkbox Tree"
      formControlName="mixedState"
      behavior="3-state"
    ></cct-checkbox-tree>
  </div>

  <div class="checkbox-container">
    <cct-search-checkbox-tree
      [options]="options"
      label="Search Input Checkbox Tree"
      formControlName="mixedState"
      behavior="3-state"
    ></cct-search-checkbox-tree>
  </div>

  <div class="checkbox-container">
    <cct-chips-checkbox-tree
      [options]="options"
      label="Search Input Checkbox Tree"
      formControlName="chips"
      behavior="3-state"
    ></cct-chips-checkbox-tree>
  </div>
</form>
